### Local settings
# IDE settings
.idea/
# User configurations
*.user

### .NET
bin/
obj/
.paket/
paket-files/
coverage/
coverage.xml

### DevOps
.fake/

### JS
node_modules/

### Output
dist/

### Clojure
.shadow-cljs/
.cpcache/
