### Local settings
# IDE settings
.idea/
.ionide/
# User configurations
*.user

### .NET
bin/
obj/
.paket/
paket-files/
coverage/
coverage.xml

### DevOps
.fake/

### JS
.eslintcache
node_modules/

### Output
dist/
build/
target/
*.fs.js
*.fs.ts
