framework: net5.0

group Main
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core ~> 5.0


group Fluke.Shared
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharpPlus ~> 1.2 prerelease
    nuget Myriad.Core ~> 0.4
    nuget Myriad.Sdk ~> 0.4
    nuget Myriad.Plugins ~> 0.4


group Fluke.UI.Backend
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Saturn ~> 0.14
    nuget Fable.Remoting.Giraffe ~> 4.13
    nuget Thoth.Json.Net ~> 5.0


group Fluke.UI.Frontend
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core # ~> 4.0 prerelease
    nuget Fable.Remoting.Client ~> 7.2
    nuget Fable.FontAwesome.Free ~> 2.0
    nuget Fable.DateFunctions ~> 3.2
    nuget Fable.SimpleJson ~> 3.17
    nuget Fable.Extras ~> 0.2
    nuget Fable.Jester ~> 0.29
    nuget Fable.ReactTestingLibrary ~> 0.29
    nuget Feliz ~> 1.25
    nuget Feliz.Bulma ~> 2.4
    nuget Feliz.Recoil ~> 0.19
    nuget Feliz.UseListener ~> 0.6
    nuget Feliz.Router ~> 3.2
    nuget Thoth.Json ~> 5.0


group Testing
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget altcover ~> 7.1
    nuget Microsoft.NET.Test.Sdk ~> 16.7 prerelease
    nuget YoloDev.Expecto.TestSdk ~> 0.9


group Build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fake.Core.Target prerelease
    nuget Fake.DotNet.Cli prerelease
    nuget Fake.IO.FileSystem prerelease

