version 6.0.3
framework: net6.0
storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 5.0


// group Fluke.Shared
nuget Myriad.Core ~> 0.5
nuget Myriad.Plugins ~> 0.5
nuget Myriad.Sdk ~> 0.5

// Fluke.UI.Frontend

// Fluke.UI.Electron.Main
nuget Fable.Electron ~> 6.0
nuget Fable.Promise ~> 2.2

// Testing
nuget altcover ~> 8.2
nuget Microsoft.NET.Test.Sdk ~> 16.11 prerelease
nuget YoloDev.Expecto.TestSdk ~> 0.12

// Build
nuget Fake.Core.Target ~> 5.20 prerelease
nuget Fake.DotNet.Cli ~> 5.20 prerelease
nuget Fake.IO.FileSystem ~> 5.20 prerelease
