version 6.0.0-rc001
framework: net6.0
storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 5.0

// group Fluke.Shared
nuget Myriad.Core ~> 0.5
nuget Myriad.Plugins ~> 0.5
nuget Myriad.Sdk ~> 0.5

// Fluke.UI.Frontend
nuget Fable.Core ~> 3.2
nuget Fable.DateFunctions ~> 3.6
nuget Fable.Jester ~> 0.31
nuget Fable.ReactTestingLibrary ~> 0.31
nuget Fable.SimpleJson ~> 3.20
nuget Feliz ~> 1.46
nuget Feliz.Recoil ~> 0.19
nuget Feliz.Router ~> 3.8
nuget Feliz.UseListener ~> 0.6
nuget Thoth.Json ~> 5.1

// Fluke.UI.Electron.Main
nuget Fable.Electron ~> 6.0
nuget Fable.Promise ~> 2.2

// Testing
nuget altcover ~> 8.2
nuget Microsoft.NET.Test.Sdk ~> 16.10
nuget YoloDev.Expecto.TestSdk ~> 0.9

// Build
nuget Fake.Core.Target ~> 5.20 prerelease
nuget Fake.DotNet.Cli ~> 5.20 prerelease
nuget Fake.IO.FileSystem ~> 5.20 prerelease

// Deploy
nuget Farmer ~> 1.5
