* {
  font-family: Roboto Condensed, sans-serif;
  color: #ddd;
}

a {
  color: #888;

  &:hover {
    color: #bbb;
  }
}

.tags.has-addons .tag {
  border: 1px solid #444;
  
  &:first-child {
    background-color: #222;
    border-right: 0;
  }
}

.modal-card-body {
  font-size: 16px;
}

.storm-diagram-container > div {
  width: 100%;
  height: 100%;
}

.apexcharts-canvas {
  color: #000;
}

.control.has-icons-left {
  input {
    background-color: #555;
    color: #aaa;
  }
  
  .icon {
    color: #aaa;
  }
}

.dropdown {
  .dropdown-divider {
    height: 1px;
    margin: 20px 0;
    background-color: #555;
  }
  
  .field-label {
    text-align: left;
    color: #aaa;
  }
}

.tabs {
  li {
    & a {
      color: #666;
    }
    
    &.is-active a {
      color: #aaa;
      border-bottom-color: #888;
    }
  }
}


.navbar-nested-dropdown {
  position: relative;
  
  > .navbar-item {
    display: block;
  }
  
  > .dropdown-menu {
    top: -13px;
    margin-left: 100%;
  }
  
  &:hover > .dropdown-menu {
    display: block;
  }
}
