* {
  font-family: Roboto Condensed, sans-serif;
  color: #ddd;
}

.lane {
  .cell {
    .comment-container {
      display: none;
    }

    &:hover .comment-container {
      display: block;
    }
  }
  
  &:nth-child(even) .cell > div:first-child {
    opacity: 0.85;
  }
}

