.blue-indicator,
.tooltip-popup, 
.cell-selected, 
.cell-today,
.cell-disabled, 
.cell-suggested, 
.cell-pending, 
.cell-missed,
.cell-missed-today,
.cell-postponed,
.cell-postponed-temp,
.cell-completed, 
.cell-dropped, 
.cell-manual-pending,
.cell-session
{} // https://github.com/zanaptak/TypedCssClasses/issues/4

$color-cell-disabled: #595959;
$color-cell-suggested: #4c664e;
$color-cell-pending: #262626;
$color-cell-missed: #990022;
$color-cell-missed-today: #530011;
$color-cell-postponed: #b08200;
$color-cell-postponed-temp: #604800;
$color-cell-completed: #339933;
$color-cell-dropped: #673ab7;
$color-cell-manual-pending: #003038;
$color-cell-session: #a9a9a9;


* {
  font-family: Roboto Condensed, sans-serif;
  color: #ddd;
}


.tooltip-container {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 8px solid #c13409;
    border-left: 8px solid transparent;
  }
  
  &.blue-indicator::after {
    border-top: 8px solid #005688;
  }
  
  .tooltip-popup {
    padding: 20px 40px;
    //min-width: 200px;
    //max-width: 600px;
    width: 600px;
    left: 70px;
    top: 70px;
    white-space: pre-wrap;
    position: absolute;
    display: none;
    z-index: 1;
    background-color: #000c;
    
    h1 {
      border-bottom: 1px solid #777;
      margin-bottom: 3px;
    }
    
    li {
      list-style-type: square;
    }
    
    ul, p {
      padding: 5px 0;
    }
  }

  &:hover .tooltip-popup {
    display: block;
  }
}

.lane-container {
  
  .cell {
    
    > div:first-child {
      width: 18px;
      height: 18px;
    }

    @mixin cell-bgcolor($color) {
      & > div:first-child {
        background-color: $color;
      }

      &.cell-today > div:first-child {
        background-color: $color#{cc};
      }
      
      &.cell-selected > div:first-child {
        border: 1px solid #ffffff55 !important;
      }
    }

    &.cell-disabled {
      @include cell-bgcolor($color-cell-disabled);
    }

    &.cell-suggested {
      @include cell-bgcolor($color-cell-suggested);
    }

    &.cell-pending {
      @include cell-bgcolor($color-cell-pending);
    }

    &.cell-missed {
      @include cell-bgcolor($color-cell-missed);
    }

    &.cell-missed-today {
      @include cell-bgcolor($color-cell-missed-today);
    }

    &.cell-postponed {
      @include cell-bgcolor($color-cell-postponed);
    }

    &.cell-postponed-temp {
      @include cell-bgcolor($color-cell-postponed-temp);
    }
    
    &.cell-completed {
      @include cell-bgcolor($color-cell-completed);
    }

    &.cell-dropped {
      @include cell-bgcolor($color-cell-dropped);
    }

    &.cell-manual-pending {
      @include cell-bgcolor($color-cell-manual-pending);
    }
    
    &.cell-session {
      @include cell-bgcolor($color-cell-session);
    }
  }

  .lane {
    display: flex;

    > div {
      @extend .cell;
    }
    
    &:nth-child(even) > div > div:first-child {
      opacity: 0.85;
    }
  }
  
  > div {
    @extend .lane;
  }
}

