{:paths   ["src/main" "resources"]
 :deps    {org.clojure/clojure         {:mvn/version "1.10.1"}
           com.fulcrologic/fulcro      {:mvn/version "3.2.9"}
           org.clojure/clojurescript   {:mvn/version "1.10.773"}
           thheller/shadow-cljs        {:mvn/version "2.9.10"}
           binaryage/devtools          {:mvn/version "1.0.2"}}
 :aliases {:outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts ["-m" "depot.outdated.main"]}}
           :dev {:extra-paths ["src/dev"]
                 :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.10.773"}
                               thheller/shadow-cljs        {:mvn/version "2.9.10"}
                               binaryage/devtools          {:mvn/version "1.0.2"}}}}
